LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "armtemplateparam_logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "armtemplateparam_logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "armtemplateparam_azdevopsorganization": {
      "type": "string"
    },
    "armtemplateparam_azdevopsproject": {
      "type": "string"
    },
    "armtemplateparam_azdevopspattoken": {
      "type": "string"
    }
  },
  "variables": {},
  "resources": [
    {
      "apiVersion": "2017-07-01",
      "location": "[parameters('armtemplateparam_logicAppLocation')]",
      "name": "[parameters('armtemplateparam_logicAppName')]",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "For_each_refUpdates": {
              "actions": {
                "check_default_branch_name": {
                  "actions": {
                    "For_each_build_definition": {
                      "actions": {
                        "check_build_definition": {
                          "actions": {
                            "Get_Build_Definition_Details": {
                              "inputs": {
                                "headers": {
                                  "Authorization": "@{concat('Basic',' ',parameters('logicappparam_azdevopspattoken'))}",
                                  "Content-Type": "application/json"
                                },
                                "method": "GET",
                                "uri": "https://dev.azure.com/@{parameters('logicappparam_azdevopsorganization')}/@{parameters('logicappparam_azdevopsproject')}/_apis/build/definitions/@{items('For_each_build_definition')?['id']}?api-version=6.1-preview.7"
                              },
                              "runAfter": {
                                "Increment_variable": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Http"
                            },
                            "Increment_variable": {
                              "inputs": {
                                "name": "counter",
                                "value": 1
                              },
                              "runAfter": {},
                              "type": "IncrementVariable"
                            },
                            "Update_Build_Definition_Details": {
                              "inputs": {
                                "body": "@body('Get_Build_Definition_Details')",
                                "headers": {
                                  "Authorization": "@{concat('Basic',' ',parameters('logicappparam_azdevopspattoken'))}",
                                  "Content-Type": "application/json"
                                },
                                "method": "PUT",
                                "uri": "https://dev.azure.com/@{parameters('logicappparam_azdevopsorganization')}/@{parameters('logicappparam_azdevopsproject')}/_apis/build/definitions/@{items('For_each_build_definition')?['id']}?api-version=6.1-preview.7"
                              },
                              "runAfter": {
                                "Get_Build_Definition_Details": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Http"
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@items('For_each_build_definition')?['name']",
                                  "ci-build-@{triggerBody()?['resource']?['repository']?['name']}"
                                ]
                              }
                            ]
                          },
                          "runAfter": {},
                          "type": "If"
                        }
                      },
                      "foreach": "@body('List_Definitions')?['value']",
                      "runAfter": {
                        "List_Definitions": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    },
                    "List_Definitions": {
                      "inputs": {
                        "headers": {
                          "Authorization": "@{concat('Basic',' ',parameters('logicappparam_azdevopspattoken'))}",
                          "Content-Type": "application/json"
                        },
                        "method": "GET",
                        "uri": "https://dev.azure.com/@{parameters('logicappparam_azdevopsorganization')}/@{parameters('logicappparam_azdevopsproject')}/_apis/build/definitions?api-version=6.1-preview.7"
                      },
                      "runAfter": {},
                      "type": "Http"
                    },
                    "check_counter_value": {
                      "actions": {},
                      "else": {
                        "actions": {
                          "Create_Pipeline": {
                            "inputs": {
                              "body": {
                                "configuration": {
                                  "path": "/@{triggerBody()?['resource']?['repository']?['name']}/azure-pipelines.yml",
                                  "repository": {
                                    "id": "@triggerBody()?['resource']?['repository']?['id']",
                                    "name": "@triggerBody()?['resource']?['repository']?['name']",
                                    "type": "azureReposGit"
                                  },
                                  "type": "yaml"
                                },
                                "folder": null,
                                "name": "ci-build-@{triggerBody()?['resource']?['repository']?['name']}"
                              },
                              "headers": {
                                "Authorization": "@{concat('Basic',' ',parameters('logicappparam_azdevopspattoken'))}",
                                "Content-Type": "application/json"
                              },
                              "method": "POST",
                              "uri": "https://dev.azure.com/@{parameters('logicappparam_azdevopsorganization')}/@{parameters('logicappparam_azdevopsproject')}/_apis/pipelines?api-version=6.1-preview.1"
                            },
                            "runAfter": {},
                            "type": "Http"
                          },
                          "Queue_Build": {
                            "inputs": {
                              "body": {
                                "definition": {
                                  "id": "@body('Create_Pipeline')?['id']"
                                }
                              },
                              "headers": {
                                "Authorization": "@{concat('Basic',' ',parameters('logicappparam_azdevopspattoken'))}",
                                "Content-Type": "application/json"
                              },
                              "method": "POST",
                              "uri": "https://dev.azure.com/@{parameters('logicappparam_azdevopsorganization')}/@{parameters('logicappparam_azdevopsproject')}/_apis/build/builds?api-version=6.1-preview.7"
                            },
                            "runAfter": {
                              "Create_Pipeline": [
                                "Succeeded"
                              ]
                            },
                            "type": "Http"
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@variables('counter')",
                              0
                            ]
                          }
                        ]
                      },
                      "runAfter": {
                        "For_each_build_definition": [
                          "Succeeded"
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@items('For_each_refUpdates')?['name']",
                          "@triggerBody()?['resource']?['repository']?['defaultBranch']"
                        ]
                      }
                    ]
                  },
                  "runAfter": {},
                  "type": "If"
                }
              },
              "foreach": "@triggerBody()?['resource']?['refUpdates']",
              "runAfter": {
                "Initialize_counter_variable": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Initialize_counter_variable": {
              "inputs": {
                "variables": [
                  {
                    "name": "counter",
                    "type": "integer",
                    "value": 0
                  }
                ]
              },
              "runAfter": {},
              "type": "InitializeVariable"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "logicappparam_azdevopsorganization": {
              "type": "String"
            },
            "logicappparam_azdevopspattoken": {
              "type": "String"
            },
            "logicappparam_azdevopsproject": {
              "type": "String"
            }
          },
          "triggers": {
            "manual": {
              "inputs": {
                "schema": {
                  "properties": {
                    "createdDate": {
                      "type": "string"
                    },
                    "detailedMessage": {
                      "properties": {
                        "html": {
                          "type": "string"
                        },
                        "markdown": {
                          "type": "string"
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "eventType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "message": {
                      "properties": {
                        "html": {
                          "type": "string"
                        },
                        "markdown": {
                          "type": "string"
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "publisherId": {
                      "type": "string"
                    },
                    "resource": {
                      "properties": {
                        "commits": {
                          "items": {
                            "properties": {
                              "author": {
                                "properties": {
                                  "date": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "commitId": {
                                "type": "string"
                              },
                              "committer": {
                                "properties": {
                                  "date": {
                                    "type": "string"
                                  },
                                  "email": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "commitId",
                              "author",
                              "committer",
                              "comment",
                              "url"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "date": {
                          "type": "string"
                        },
                        "pushId": {
                          "type": "integer"
                        },
                        "pushedBy": {
                          "properties": {
                            "displayName": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            },
                            "uniqueName": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "refUpdates": {
                          "items": {
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "newObjectId": {
                                "type": "string"
                              },
                              "oldObjectId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "oldObjectId",
                              "newObjectId"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "repository": {
                          "properties": {
                            "defaultBranch": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "project": {
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "remoteUrl": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "url": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "resourceContainers": {
                      "properties": {
                        "account": {
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "collection": {
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "project": {
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "resourceVersion": {
                      "type": "string"
                    },
                    "scope": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {
          "logicappparam_azdevopsorganization": {
            "value": "[parameters('armtemplateparam_azdevopsorganization')]"
          },
          "logicappparam_azdevopspattoken": {
            "value": "[parameters('armtemplateparam_azdevopspattoken')]"
          },
          "logicappparam_azdevopsproject": {
            "value": "[parameters('armtemplateparam_azdevopsproject')]"
          }
        }
      },
      "tags": {
        "displayName": "LogicApp"
      },
      "type": "Microsoft.Logic/workflows"
    }
  ],
  "outputs": {}
}